.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  margin: auto;
  background-color: cornflowerblue;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  /* background-color: #f0f0f0; */
  background-color: burlywood;
}

.calendar-weekdays {
  display: flex;
  width: 100%;
  padding: 5px;
}

.weekday {
  flex: 1;
  text-align: center;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  width: 100%;
  border-top: 1px solid #ccc;
}

.day {
  /* flex: 1; */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.day-expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 15px;
  height: 33vh;
  width: 33%;
  transform: translate(-50%, -50%) scale(1.6);
  border: 1px solid #ccc;
  z-index: 3;
  opacity: 0.97;
  overflow: auto;
}

.day-content {
  position: relative;
}
.day-content ul {
  padding: 0;
  margin: 0;
}
.day-content li {
  list-style: none;
  margin-bottom: 10px;
}

.day-content button {
  font-size: 0.7em;
  position: absolute;
  top: auto;
  right: auto;
  height: 1em;
  width: 1em;
  margin-left: 1em;
  padding-right: 0.2em;
  text-align: justify;
  vertical-align: middle;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* color: rgb(155, 30, 244);
  background-color: rgb(253, 106, 0); */
  box-shadow: 0 2px 4px darkslategray;
  /* transform:translateX(0.2rem); */
  /* transform:translateY(0.15rem); */
  line-height: 0.1em;
}

.day-content .x-button {
  text-align: center;
  color: turquoise;
  background-color: rgb(155, 48, 255);
}

.day-content .close-button {
  background-color: white;
  color: rgb(234, 124, 14);
}
