@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Coming+Soon&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Rock+Salt&display=swap');

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  padding-top: -10px;
  width: 95%;
  height: auto;
  border: 2px solid #1e0d0d;
  border-radius: 2px;
  margin: auto;
  background-color: cornflowerblue;
  background-image: url('knife.avif');
  background-size: cover;
  transform: translateY(-30px);
  z-index: 0;
}

.calendar-header {
  font-family: "Rock Salt", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  opacity: .8;
  background-color:rgb(255, 255, 255);
  z-index: 0;
}

.calendar-weekdays {
  font-family: "Rock Salt", sans-serif;
  display: flex;
  width: 100%;
  padding: 5px;
  z-index: 0;
}

.weekday {
  flex: 1;
  text-align: center;
  z-index: 0;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  width: 100%;
  border-top: 1px solid #ccc;
  z-index: 0;
}

.total-calories-small {
  font-family: "Coming Soon";
  font-weight: 800;
  color: rgb(57, 164, 209);
  font-size: 10px;
  z-index: 0;
}

.underline {
  text-decoration: underline;
  color: rgb(236, 34, 229);
}

.month-button {
  display: flex;
  font-size: 1em;
  font-family: "Rock Salt", sans-serif;
  background-color: rgb(178, 241, 219); 
  margin: auto;
  border: 1px solid black;
  border-radius: 4px;
}