.day {
  font-size: 16px;
  border: 3px solid #08d241;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #333; 
  background-color: aquamarine; 
}

.day-expanded {
  position: fixed;
  font-size: 12px;
  height: 195px;
  /* height: 33vh; */
  width: 33%;
  transform: translate(-50%, -50%) scale(1.4); 
  transform: translate(-50%, -50%) scale(1.6);
  color: rgb(27, 13, 171);
  background-color: rgb(224, 193, 151);
  padding: 10px;
  border: 1px solid #ccc;
  overflow: auto;
  /* top: calc(100% + 5px); */
  top: 50%;
  left: 50%;
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  max-width: 90%; 
  max-height: 100%; 
  opacity: 0.9;
  overflow-y: auto; 
  cursor: default;
}

.day-content {
  position: relative;
}

.day-content ul {
  padding: 0;
  margin: 0;
}

.day-content ol {
  padding: 0;
  margin: 0;
}

.day-content li {
  list-style: none;
  margin-bottom: 10px;
  text-align: left;
  background-color: lightblue;
}

.day-content button {
  position: absolute;
  font-size: 0.7em;
  top: auto;
  right: auto;
  height: 1em;
  width: 1em;
  margin-left: 1em;
  padding-right: 0.2em;
  text-align: justify;
  vertical-align: middle;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px darkslategray;
  line-height: 0.1em;
}

.day-content .close-window {
  color: rgb(78, 69, 61);
  top: -2em;
  right: 0.4em;
  box-shadow: none;
}

.day-content .total-calories {
  color: red;
  bottom: 1em;
  font-size: 22px;
  font-weight: 500;
}

.calorie-integer {
  color: purple;
  transform: translateX(3em);
}

.day-content .trash-button {
  text-align: center;
  color: rgb(0, 0, 0);
  box-shadow: none;
  right: 1em;
  line-height: 2em;
}
