@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Coming+Soon&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Rock+Salt&display=swap');

.day {
  /* position: static; */
  font-size: 16px;
  border: 1px solid #08d241;
  border-radius: 4px;
  padding: 10px;
  margin-top: 1px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #333; 
  background-color: rgb(178, 241, 219);
  z-index: 0;
  /* opacity: 0.9; */

}

.day-expanded {
  position: fixed;
  /* position: absolute; */
  font-family: "Caveat", sans-serif;
  /* background-color: rgb(255, 255, 255); */
  font-size: 15px;
  height: 195px;
  /* height: 48vh; */
  width: 33%;
  transform: translate(-50%, -50%) scale(1.6);
  color: rgb(27, 13, 171);
  background-color: rgb(224, 193, 151);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: auto;
  /* top: calc(100% + 5px); */
  top: 50%;
  left: 50%;
  z-index:888;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); 
  max-width: 90%; 
  max-height: 100%; 
  opacity: 0.9;
  overflow-y: auto; 
  cursor: default;
}

.selected-date {
  color: blue;
  font-size: 20px;
  font-weight: 500;
  transform: translateY(-12px);
}

.day-content .total-calories {
  font-size: 22px;
  font-weight: 500;
  color: red;
  transform: translateY(-20px);
}

.day-content {
  position: relative;
  z-index: 99;
}

.day-content ul {
  padding: 0;
  margin: 0;
}

.day-content ol {
  padding: 0;
  margin: 0;
}

.day-content li {
  list-style: none;
  margin-bottom: 10px;
  text-align: left;
  background-color: lightblue;
  z-index: 99;
}

.day-content button {
  position: absolute;
  font-size: 0.7em;
  top: auto;
  right: auto;
  height: 1em;
  width: 1em;
  margin-left: 1em;
  padding-right: 0.2em;
  text-align: justify;
  vertical-align: middle;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px darkslategray;
  line-height: 0.1em;
}

.day-content .close-window {
  color: rgb(78, 69, 61);
  top: -2em;
  right: 0.4em;
  box-shadow: none;
}

.day-content .total-calories {
  color: red;
  bottom: 1em;
  font-size: 22px;
  font-weight: 500;
}

.calorie-integer {
  color: purple;
  transform: translateX(3em);
}

.day-content .trash-button {
  font-size: 12px;
  text-align: center;
  color: rgb(0, 0, 0);
  box-shadow: none;
  right: 1em;
  line-height: 2em;
}

.today {
  z-index: 999;
}